aniso8601==1.2.1
click==6.7
decorator==4.0.11
Flask==1.0
Flask-RESTful==0.3.6
imageio==2.1.2
itsdangerous==0.24
Jinja2==2.9.6
many-stop-words==0.2.2
MarkupSafe==1.0
moviepy==0.2.3.2
nltk==3.2.4
numpy==1.13.0
olefile==0.44
pexpect==4.2.1
Pillow==4.1.1
ptyprocess==0.5.1
python-dateutil==2.6.0
python-Levenshtein==0.12.0
pytz==2017.2
six==1.10.0
tqdm==4.11.2
Werkzeug==0.12.2
wit==4.2.0
